/*variables*/
::selection {
  background-color: #FFF4E4;
  }


:root {
  --beige: #FFF4E4;
  --blue: #4A58B0;
}

@font-face {
    font-family: 'nikas-banglarelli-regular';
    src: url('fonts/banglarelli-webfont.woff2') format('woff2'),
         url('fonts/banglarelli-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
  font-family: "nikas-banglarelli-regular", arial;
  font-weight: 100;
  background-color: var(--beige);
  -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   line-height: 1.6;
}

html, body{
  margin: 0;
  height: 100%;
}

a {
  color: black;
  text-decoration: none;
  border-bottom: 1px solid;
  transition: all 100ms ease-out;
}

.secret {
  border-bottom: none;
}

a:hover {
  border-bottom: 1px dotted;
  cursor: ne-resize;
}

/* structure*/

.spacing-large {
  margin-bottom: 100px;
}

.spacing-medium {
  margin-bottom: 60px;
}

.spacing-small {
  margin-bottom: 1vw;
}

.services {
  max-width: 50%;
  position: absolute;
  bottom: 3em;
}

.social {
  max-width: 50%;
  position: absolute;
  right: 3em;
  bottom: 3em;
}

.container {
  margin: 0 auto;
  padding: 3em;
}

/*typography*/

h1 {
  font-size: 50px;
  font-weight: normal;
}

.marker {
  color: #fff;
  font-size: 75px;
}

.services p, .social p {
  font-size: 20px;
}

/*clouds*/
.clouds {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.clouds img {
  position: absolute;
}

.back img{
  z-index: -1;
}

.front img {
  z-index: 0;
}

.cloud-1 {
  max-width: 550px;
  left: -50px;
  top: 330px;
  -webkit-animation: cloud-1 80s linear infinite;
  -moz-animation: cloud-1 80s linear infinite;
  -o-animation: cloud-1 80s linear infinite;
}

@-webkit-keyframes cloud-1 {
  0% {
    transform: translateX(60vw);
  }
  100% {
    transform: translateX(-200vw);
  }
}

.cloud-2 {
  max-width: 1200px;
  min-width: 700px;
  right: -300px;
  top: -100px;
  -webkit-animation: cloud-2 101s linear infinite;
  -moz-animation: cloud-2 101s linear infinite;
  -o-animation: cloud-2 101s linear infinite;
}

@-webkit-keyframes cloud-2 {
  0% {
    transform: translateX(100vw);
  }
  100% {
    transform: translateX(120vw);
  }
}


.cloud-3 {
  max-width: 812px;
  top: -230px;
  left: -400px;
  -webkit-animation: cloud-3 155s linear infinite;
  -moz-animation: cloud-3 155s linear infinite;
  -o-animation: cloud-3 155s linear infinite;
}

@-webkit-keyframes cloud-3 {
  0% {
    transform: translateX(100vw);
  }
  100% {
    transform: translateX(-150vw);
  }
}

.cloud-4 {
  max-width: 250px;
  left: 50%;
  top: 40%;
  -webkit-animation: cloud-4 100s linear infinite;
  -moz-animation: cloud-4 100s linear infinite;
  -o-animation: cloud-4 100s linear infinite;
}

@-webkit-keyframes cloud-4 {
  0% {
    transform: translateX(100vw);
  }
  100% {
    transform: translateX(-200vw);
  }
}

.cloud-5 {
  max-width: 115px;
  left: 45%;
  top: 60%;
  -webkit-animation: cloud-5 121s linear infinite;
  -moz-animation: cloud-5 121s linear infinite;
  -o-animation: cloud-5 121s linear infinite;
}

@-webkit-keyframes cloud-5 {
  0% {
    transform: translateX(-20vw);
  }
  100% {
    transform: translateX(-100vw);
  }
}

.cloud-6 {
  max-width: 1480px;
  min-width: 900px;
  right: -400px;
  bottom: 60px;
  -webkit-animation: cloud-6 97s linear infinite;
  -moz-animation: cloud-6 97s linear infinite;
  -o-animation: cloud-6 97s linear infinite;
}

@-webkit-keyframes cloud-6 {
  0% {
    transform: translateX(100vw);
  }
  100% {
    transform: translateX(-100vw);
  }
}



.cloud-7 {
  max-width: 300px;
  top: 60%;
  left: 5%;
  -webkit-animation: cloud-7 120s linear infinite;
  -moz-animation: cloud-7 120s linear infinite;
  -o-animation: cloud-7 120s linear infinite;
}

@-webkit-keyframes cloud-7 {
  0% {
    transform: translateX(100vw);
  }
  100% {
    transform: translateX(-100vw);
  }
}

.cloud-8 {
  max-width: 1000px;
  right: -200px;
  top: 15%;
  -webkit-animation: cloud-8 110s linear infinite;
  -moz-animation: cloud-8 110s linear infinite;
  -o-animation: cloud-8 110s linear infinite;
}

@-webkit-keyframes cloud-8 {
  0% {
    transform: translateX(-60vw);
  }
  100% {
    transform: translateX(-100vw);
  }
}

.cloud-9 {
  max-width: 500px;
  left: 30%;
  top: 10%;
  -webkit-animation: cloud-9 170s linear infinite;
  -moz-animation: cloud-9 170s linear infinite;
  -o-animation: cloud-9 170s linear infinite;
}

@-webkit-keyframes cloud-9 {
  0% {
    transform: translateX(40vw);
  }
  100% {
    transform: translateX(-100vw);
  }
}


.cloud-10 {
  max-width: 855px;
  left: -100px;
  bottom: -300px;
  -webkit-animation: cloud-10 150s linear infinite;
  -moz-animation: cloud-10 150s linear infinite;
  -o-animation: cloud-10 150s linear infinite;
}

@-webkit-keyframes cloud-10 {
  0% {
    transform: translateX(60vw);
  }
  100% {
    transform: translateX(-100vw);
  }
}

.cloud-11 {
  max-width: 1700px;
  left: -100px;
  top: 680px;
  -webkit-animation: cloud-11 168s linear infinite;
  -moz-animation: cloud-11 168s linear infinite;
  -o-animation: cloud-11 168s linear infinite;
}

@-webkit-keyframes cloud-11 {
  0% {
    transform: translateX(-10vw);
  }
  100% {
    transform: translateX(-100vw);
  }
}



@media only screen and (max-width: 768px){
    /* For mobile phones: */
    .services, .social {
        position: relative;
        max-width:100%;
    }
    .social {
      right: 0;
    }

    .container {
      padding: 1.5em;
    }

    .clouds {
      overflow-y: scroll;
      height: 1500px;
    }

    h1 {
      font-size: 30px;
    }

    .marker {
      font-size: 48px;
    }




    .services p, .social p {
      font-size: 18px;
    }
}

@media only (min-height: 670px){
  .services {
    position: relative;
  }
}
